@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

$theme-colors :(
    "primary": #407BFF,
    "secondary": #E1E1E1
);

$body-bg: #F2F2F2;
$body-color: #263238;

@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";
